@page "/admin"
@using System.IO
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize(Roles = LoadingArtistCrowdSource.Shared.Enums.Roles.Administrator)]
@inject LoadingArtistCrowdSource.Client.Services.LACSApi Api
@inject IToastService ToastService

<Container Fluid="false">
	<h3>Admin</h3>

	<Row Class="mb-3">
		<Column>
			<h3>Compile Feed</h3>
			<a class="btn btn-primary" href="api/admin/compile_feed" target="_top">Compile Feed</a>
		</Column>
	</Row>
	<Row Class="mb-3">
		<Column>
			<h3>Import Feed</h3>
			<InputFile OnChange="HandleImportFeedFile"></InputFile>
			<Button Color="Color.Primary" Clicked="HandleImportFeed">Import Feed</Button>
		</Column>
	</Row>

</Container>

@code {
	private IBrowserFile? _importFeedFile { get; set; }
	private void HandleImportFeedFile(InputFileChangeEventArgs e)
	{
		_importFeedFile = e.File;
	}
	private async Task HandleImportFeed()
	{
		if (_importFeedFile == null)
		{
			ToastService.ShowWarning("No file selected");
			return;
		}

		using (var readStream = _importFeedFile.OpenReadStream(maxAllowedSize: 512000 * 20))
		{
			try
			{
				await Api.ImportFeed(readStream);
			}
			catch (AccessTokenNotAvailableException ex)
			{
				ex.Redirect();
				return;
			}
		}
	}
}
