<a href="@Href" target="_blank" class="@($"{(NoWrapText ? "text-nowrap" : "new-tab-link")}")" @onclick:stopPropagation="StopPropagation">
	@ChildContent
	<HelperIcon Name="external-link" class="mb-1"></HelperIcon>
</a>

@code {
	[Parameter]
	public string Href { get; set; } = "";

	[Parameter]
	public RenderFragment ChildContent { get; set; } = null!;

	[Parameter]
	public bool StopPropagation { get; set; } = false;

	[Parameter]
	public bool NoWrapText { get; set; } = false;
}
