<a href="@Href" target="_blank" class="new-tab-link">
	@ChildContent
	<HelperIcon Name="external-link" class="mb-1"></HelperIcon>
</a>

@code {
	[Parameter]
	public string Href { get; set; } = "";

	[Parameter]
	public RenderFragment ChildContent { get; set; } = null!;
}
