@page "/about"

<Container Fluid="false">
	<h1>About Loading Artist Crowd Source</h1>
	<Table Narrow="true" Class="responsive">
		<TableBody>
			<TableRow>
				<TableHeaderCell>Creator</TableHeaderCell>
				<TableRowCell>
					James Linnell / Jamamp
					<ul>
						<li><NewTabLink Href="https://twitch.tv/Jamamp_">https://twitch.tv/Jamamp_</NewTabLink></li>
						<li><NewTabLink Href="https://blog.jamesnl.com/">https://blog.jamesnl.com/</NewTabLink></li>
					</ul>
					<p>Join our Discord! <NewTabLink Href="https://discord.gg/QWhQDkEvBJ">https://discord.gg/QWhQDkEvBJ</NewTabLink></p>
				</TableRowCell>
			</TableRow>
			<TableRow>
				<TableHeaderCell>Endorsed By</TableHeaderCell>
				<TableRowCell>
					Gregor Czaykowski / Loading Artist
					<ul>
						<li><NewTabLink Href="https://loadingartist.com/">https://loadingartist.com/</NewTabLink> (<em>The</em> #1 place to view Loading Artist comics!)</li>
						<li><NewTabLink Href="https://twitch.tv/loadingartist">https://twitch.tv/loadingartist</NewTabLink> (<em>The</em> #1 place to view Loading Artist streams!)</li>
					</ul>
				</TableRowCell>
			</TableRow>
			<TableRow>
				<TableHeaderCell>Beta Testers</TableHeaderCell>
				<TableRowCell>
					<p>I'd like to thank the following community members who were able to help contribute to and beta test this website before it went live.</p>
					<ul>
						<li>TheNewTeddy</li>
						<li>GrinzPilz</li>
						<li>SuperTux88</li>
						<li>TheNewTeddy</li>
					</ul>
				</TableRowCell>
			</TableRow>
			<TableRow>
				<TableHeaderCell>Top Contributors</TableHeaderCell>
				<TableRowCell>
					<p>To be determined!</p>
					<ul>
						<li>...</li>
					</ul>
				</TableRowCell>
			</TableRow>
			<TableRow>
				<TableHeaderCell>Attributions</TableHeaderCell>
				<TableRowCell>
					<ul>
						<li>Blazor &mdash; <NewTabLink Href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor</NewTabLink></li>
						<li>AspNet.Security.OAuth.Providers &mdash; <NewTabLink Href="https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers">https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers</NewTabLink></li>
						<li>DiffPlex &mdash; <NewTabLink Href="https://github.com/mmanela/diffplex">https://github.com/mmanela/diffplex</NewTabLink></li>
						<li>Bootstrap &mdash; <NewTabLink Href="https://getbootstrap.com/">https://getbootstrap.com/</NewTabLink></li>
						<li>Feather Icons &mdash; <NewTabLink Href="https://feathericons.com/">https://feathericons.com/</NewTabLink></li>
						<li>Blazored Toast &mdash; <NewTabLink Href="https://github.com/Blazored/Toast">https://github.com/Blazored/Toast</NewTabLink></li>
						<li>BlazorTable &mdash; <NewTabLink Href="https://github.com/IvanJosipovic/BlazorTable">https://github.com/IvanJosipovic/BlazorTable</NewTabLink></li>
						<li>Blazored Typeahead &mdash; <NewTabLink Href="https://github.com/Blazored/Typeahead">https://github.com/Blazored/Typeahead</NewTabLink></li>
					</ul>
				</TableRowCell>
			</TableRow>
		</TableBody>
	</Table>
</Container>
