@page "/about"

<Container Fluid="false">
	<Table Narrow="true">
		<TableBody>
			<TableRow>
				<TableHeaderCell>Creator</TableHeaderCell>
				<TableRowCell>
					James Linnell / Jamamp
					<ul>
						<li><NewTabLink Href="https://twitch.tv/Jamamp_">https://twitch.tv/Jamamp_</NewTabLink></li>
						<li><NewTabLink Href="https://blog.jamesnl.com/">https://blog.jamesnl.com/</NewTabLink></li>
					</ul>
				</TableRowCell>
			</TableRow>
			<TableRow>
				<TableHeaderCell>Endorsed By</TableHeaderCell>
				<TableRowCell>
					<del>Gregor Czaykowski / Loading Artist</del> TBD
					<ul>
						<li><NewTabLink Href="https://loadingartist.com/">https://loadingartist.com/</NewTabLink></li>
						<li><NewTabLink Href="https://twitch.tv/loadingartist">https://twitch.tv/loadingartist</NewTabLink></li>
					</ul>
				</TableRowCell>
			</TableRow>
			<TableRow>
				<TableHeaderCell>Beta Testers</TableHeaderCell>
				<TableRowCell>
					<ul>
						<li>...</li>
					</ul>
				</TableRowCell>
			</TableRow>
			<TableRow>
				<TableHeaderCell>Attributions</TableHeaderCell>
				<TableRowCell>
					<ul>
						<li>
							Blazor &mdash; <NewTabLink Href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor</NewTabLink>
							<ul>
								<li>(todo: nuget dependencies)</li>
							</ul>
						</li>
						<li>
							Bootstrap &mdash; <NewTabLink Href="https://getbootstrap.com/">https://getbootstrap.com/</NewTabLink>
							<ul>
								<li>Font Awesome &mdash; <NewTabLink Href="https://fontawesome.com/">https://fontawesome.com/</NewTabLink></li>
							</ul>
						</li>
						<li>Open Iconic &mdash; <NewTabLink Href="https://www.useiconic.com/open">www.useiconic.com/open</NewTabLink></li>
					</ul>
				</TableRowCell>
			</TableRow>
		</TableBody>
	</Table>
</Container>
