@model DiffPlex.DiffBuilder.Model.SideBySideDiffModel

<div class="diffBox">
	<div class="leftPane">
		<div class="diffHeader">Old</div>

		@await Html.PartialAsync("DiffPane", Model.OldText)
	</div>
	<div class="rightPane">
		<div class="diffHeader">New</div>
		@await Html.PartialAsync("DiffPane", Model.NewText)
	</div>
	<div class="clear">
	</div>
</div>
