@page "/"

<Container Fluid="false">
	<h1>Loading Artist Crowd Source</h1>

	<p class="lead">
		<em>The</em> #1 place to crowd source information about Gregor Czaykowski's
		<NewTabLink Href="https://loadingartist.com">Loading Artist</NewTabLink> web comic.
	</p>
	<p>
		If you've ever asked yourself,
		<ul>
			<li>What was the first comic Red Shirt Guy appeared in?</li>
			<li>How many comics have the hidden spider in them?</li>
			<li>When did Gregor begin using halftones?</li>
			<li>Which comics have both characters X and Y together?</li>
			<li>What percentage of comics are about picking up women?</li>
		</ul>
		Then this is the perfect resource! Loading Artist Crowd Source collects a variety
		of different data points about each and every Loading Artist comic in order to fully index
		the series. This enables members of the community to find <em>that one</em> comic they are 
		thinking of, search for interesting patterns, or see the evolution of Loading Artist comics.
	</p>

	<AuthorizeView>
		<Authorized>
			<p>
				<NavLink href="/random" class="btn btn-primary">Contribute to a random comic</NavLink>
			</p>
		</Authorized>
		<NotAuthorized>
			<p>
				<NavLink href="authentication/register" class="btn btn-primary">Login or create an account to get started!</NavLink>
			</p>
		</NotAuthorized>
	</AuthorizeView>

	<h3>
		How does it work?
	</h3>
	<p>
		Crowd sourcing is where a crowd of people is doing the job of sourcing the information
		and submitting it together. This means that you, a member of the Loading Artist community,
		are a key part in making this website possible. At the time this website was created, Gregor
		created more than 460 comics over the past ten years. Having one person to categorize and 
		index all of that data would be tremendous.
	</p>
	<p>
		Instead, members of the community are encouraged to take part in filling out a smaller
		portion of the data. You are given a random comic that has not been fully indexed yet 
		and fill out what you believe to be the correct data for one or more of the data fields
		for a comic. This is repeated a few more times by other members of the community. Once 
		a consensus of data has been reached for a particular field on one comic, the answer is
		considered verified and searchable.
	</p>


	<h3>Why does there need to be a consensus?</h3>
	<p>
		The different data fields will have their own definitions and descriptions. Because we're
		asking the community to submit data, it is possible one person's interpretation of the
		question will differ from another person's. Thus, there will be some amount of human error.
		Accepting an answer after consensus will help strengthen the integrity of the data being
		collected.
	</p>

	<h3>Goals</h3>
	<p>
		The goals of the creation, design, and support of this website are as follows:
		<ul>
			<li>To both facilitate and incentivize the gathering of information</li>
			<li>To let the community come together as a whole to contribute, by encouraging all to record information</li>
			<li>To require agreement among the community, via consensus mechanisms for data fields, and feedback mechanisms for evolution</li>
			<li>To put a focus on the data being collected (top contributers will be mentioned in the About page, but there will be no rankings or leaderboards)</li>
		</ul>
	</p>

	<h3>Submit Feedback!</h3>
	<p>
		Do you see something wrong with a question for a comic? A missing option, a typo, or do you have an idea 
		for a new option? Be sure to submit feedback for a comic! This will let our mods review your feedback and
		make any of the necessary changes to the website. Any other feedback for the website as a whole? Check out
		our About page for a link to the Discord!
	</p>
	
</Container>
