@page "/comic"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LoadingArtistCrowdSource.Shared
@using LoadingArtistCrowdSource.Shared.Enums
@using LoadingArtistCrowdSource.Shared.Models
@inject Services.LACSApi Api

@if (!_comics.Any())
{
	<Spinner></Spinner>
}
else
{
	<ComicNavigation ComicPage="_comicPage" IsComicList="true"></ComicNavigation>
	<ComicListView Comics="_comics">
		<HeaderContent>
			<h1>Comics</h1>
		</HeaderContent>
	</ComicListView>
}

@code {
	private static ComicListItemViewModel[] _comics { get; set; } = new ComicListItemViewModel[] { };
	private ComicPageViewModel _comicPage => new ComicPageViewModel()
	{
		LatestComicCode = _comics.LastOrDefault()?.Code,
	};

	protected override async Task OnInitializedAsync()
	{
		if (_comics.Any())
		{
			return;
		}

		try
		{
			_comics = await Api.GetComics();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}

		await base.OnInitializedAsync();
	}
}
