@page "/comic"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LoadingArtistCrowdSource.Shared
@using LoadingArtistCrowdSource.Shared.Enums
@using LoadingArtistCrowdSource.Shared.Models
@inject Services.LACSApi Api

@if (comics == null)
{
	<Spinner></Spinner>
}
else
{
	<ComicNavigation ComicPage="comicPage" IsComicList="true"></ComicNavigation>
	<ComicListView Comics="comics">
		<HeaderContent>
			<h1>Comics</h1>
		</HeaderContent>
	</ComicListView>
}

@code {
	private static ComicListItemViewModel[]? comics { get; set; } = null;
	private ComicPageViewModel comicPage { get; set; } = new ComicPageViewModel();

	protected override async Task OnInitializedAsync()
	{
		if (comics != null && comics.Any())
		{
			return;
		}

		try
		{
			comics = await Api.GetComics();
			comicPage = new ComicPageViewModel()
			{
				LatestComicCode = comics.LastOrDefault()?.Code,
			};
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}

		await base.OnInitializedAsync();
	}
}
