@page "/comic"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LoadingArtistCrowdSource.Shared
@using LoadingArtistCrowdSource.Shared.Enums
@using LoadingArtistCrowdSource.Shared.Models
@inject Services.LACSApi Api

@if (comics == null)
{
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
}
else
{
	<ComicListView Comics="comics">
		<HeaderContent>
			<h1>Comics</h1>
		</HeaderContent>
	</ComicListView>
}

@code {
	private ComicViewModel[]? comics { get; set; } = null;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			comics = await Api.GetComics();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}

		await base.OnInitializedAsync();
	}
}
