@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row px-4 auth">
			<LoginDisplay />
		</div>

		<div class="content px-4">
			@Body
		</div>

		<div class="flex-fill" style="min-height: 2em;"></div>

		<footer class="footer border-top text-muted">
			<div class="container-fluid">
				&copy; 2021 - Loading Artist Crowd Source - <a href="/Identity/Privacy">Privacy</a>
			</div>
		</footer>

		<BlazoredToasts Timeout="5"
						ShowProgressBar="true" />
	</div>
</div>
