@using LoadingArtistCrowdSource.Shared.Enums

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">
		<img src="https://loadingartist.com/wp-content/themes/loading-artist-2015/img/bg/logo.png" width="32" height="32" alt="Logo" title="Logo" style="margin-right: 0.5em;" />
		Crowd Source
	</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<HelperIcon Name="home" Size="1.5em" class="mr-3" /> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="stats">
				<HelperIcon Name="bar-chart-2" Size="1.5em" class="mr-3" /> Statistics
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="search">
				<HelperIcon Name="search" Size="1.5em" class="mr-3" /> Search
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="comic" Match="NavLinkMatch.Prefix">
				<HelperIcon Name="image" Size="1.5em" class="mr-3" /> Comics
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="about" Match="NavLinkMatch.Prefix">
				<HelperIcon Name="users" Size="1.5em" class="mr-3" /> About
			</NavLink>
		</li>
		<AuthorizeView Roles="@Roles.Administrator">
			<Authorized>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="field" Match="NavLinkMatch.Prefix">
						<HelperIcon Name="sliders" Size="1.5em" class="mr-3" /> Fields
					</NavLink>
				</li>
				<li class="nav-item px-3">
					<NavLink class="nav-link" href="admin" Match="NavLinkMatch.Prefix">
						<HelperIcon Name="lock" Size="1.5em" class="mr-3" /> Admin
					</NavLink>
				</li>
			</Authorized>
		</AuthorizeView>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
