<Modal @ref="_modal">
	<ModalBackdrop />
	<ModalContent>
		<ModalHeader>
			<ModalTitle>
				@(_isNew ? "Add" : "Edit") Field Option
			</ModalTitle>
			<CloseButton Clicked="Close"></CloseButton>
		</ModalHeader>
		<ModalBody>
			<EditForm @ref="_form" Model="_optionVM">
				<DataAnnotationsValidator />
				<Microsoft.AspNetCore.Components.Forms.ValidationSummary />

				<FormTextfield NamePrefix="_namePrefix" @bind-Value="_optionVM.Code" Disabled="!_isNew"></FormTextfield>
				<FormTextfield NamePrefix="_namePrefix" @bind-Value="_optionVM.Text"></FormTextfield>
				<FormTextarea NamePrefix="_namePrefix" @bind-Value="_optionVM.Description"></FormTextarea>
				<FormTextfield NamePrefix="_namePrefix" @bind-Value="_optionVM.URL"></FormTextfield>
			</EditForm>
		</ModalBody>
		<ModalFooter>
			<button type="submit" class="btn btn-primary" @onclick="HandleSubmit">Save changes</button>
			<button type="button" form="FieldOptionEditModal" class="btn btn-light" @onclick="() => Close()">Close</button>
		</ModalFooter>
	</ModalContent>
</Modal>

@code {

	public struct State
	{
		public CrowdSourcedFieldDefinitionOptionViewModel OptionVM;
		public int? Index;
	}

	[Parameter]
	public EventCallback<State> OnSubmit { get; set; }

	private CrowdSourcedFieldDefinitionOptionViewModel _optionVM = new CrowdSourcedFieldDefinitionOptionViewModel();
	private int? _index;
	private bool _isNew => !_index.HasValue;

	private Modal _modal = new Modal();
	private EditForm _form = new EditForm();
	private string _namePrefix => $"{(_isNew ? "Add" : "Edit")}_Option_";

	public void Open(State state)
	{
		_optionVM = state.OptionVM;
		_index = state.Index;
		StateHasChanged();
		_modal.Show();
	}

	public void Close()
	{
		_modal.Hide();
	}

	private async Task HandleSubmit()
	{
		if (!_form.EditContext!.Validate())
		{
			return;
		}

		await OnSubmit.InvokeAsync(new State()
		{
			OptionVM = _optionVM,
			Index = _index,
		});
		_modal.Hide();
	}
}
